
<div class="col-md-8 offset-md-2">
    @if (cart.items.length === 0) {
        <div>
            <h3>Your cart is empty. <a routerLink="/products">Continue shopping</a></h3>
        </div>
    } @else {
    <div class="pb-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub Total</th>
            </tr>
            </thead>
            <tbody>
            @for(item of cart.items; track item.code) {
                <template>
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <input type="number" min="0"/>
                        </td>
                        <td>{{ getSubTotal(item) }}</td>
                    </tr>
                </template>
            }
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3"></th>
                <th colspan="1" style="text-align: left">
                    Total Amount: <span>{{cart.totalAmount}}</span>
                </th>
            </tr>
            </tfoot>
        </table>

        <form class="row g-3" [formGroup] = "cartForm" (ngSubmit)="createOrder()">
            <div class="col-md-6" formGroupName="customer">
                <label for="customerName" class="form-label">Customer Name</label>
                <input type="text" class="form-control"
                        id="ame"
                        name="name"
                        formControlName="name"/>
            </div>
            <div class="col-md-6" formGroupName="customer">
                <label for="customerEmail" class="form-label">Customer Email</label>
                <input type="email" class="form-control"
                        id="email"
                        name="email"
                        formControlName="email">
            </div>
            <div class="col-md-6" formGroupName="customer">
                <label for="customerPhone" class="form-label">Customer Phone</label>
                <input type="text" class="form-control"
                        id="phoneNumber"
                        name="phoneNumber"
                        formControlName="phoneNumber">
            </div>
            <div class="col-6" formGroupName="address">
                <label for="deliveryAddressLine1" class="form-label">Delivery Address Line 1</label>
                <input class="form-control"
                        id="addressLine1"
                        name="addressLine1"
                        formControlName="addressLine1"/>
            </div>
            <div class="col-6" formGroupName="address">
                <label for="deliveryAddressLine2" class="form-label">Delivery Address Line 2</label>
                <input class="form-control"
                        id="addressLine2"
                        name="addressLine2"
                        formControlName="addressLine2"/>
            </div>
            <div class="col-6" formGroupName="address">
                <label for="deliveryAddressCity" class="form-label">Delivery Address City</label>
                <input class="form-control"
                        id="city"
                        name="city"
                        formControlName="city"/>
            </div>
            <div class="col-6" formGroupName="address">
                <label for="deliveryAddressState" class="form-label">Delivery Address State</label>
                <input class="form-control"
                        id="state"
                        name="state"
                        formControlName="state"/>
            </div>
            <div class="col-6" formGroupName="address">
                <label for="deliveryAddressZipCode" class="form-label">Delivery Address ZipCode</label>
                <input class="form-control"
                        id="zipCode"
                        name="zipCode"
                        formControlName="zipCode"/>
            </div>
            <div class="col-6" formGroupName="address">
                <label for="deliveryAddressCountry" class="form-label">Delivery Address Country</label>
                <input class="form-control"
                        id="country"
                        name="country"
                        formControlName="country"/>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Place Order</button>
            </div>
        </form>
    </div>
    }
</div>
